<h1>新しいジャンル</h1>

<%= form_with(model: @genre) do |form| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genre.errors.count, "エラー") %>により、このジャンルを保存できませんでした:</h2>

      <ul>
        <% @genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "作成" %>
  </div>
<% end %>

<%= link_to '戻る', genres_path %>