<h1>アイテム編集</h1>

<%= form_with(model: [@genre, @category, @item]) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "エラー") %>により、このアイテムを保存できませんでした:</h2>

      <ul>
        <% @item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, "説明" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, "価格" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>

<%= link_to '戻る', genre_category_items_path(@genre, @category) %>