<h1><%= @item.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @item.genre.name %>
</p>

<%= link_to 'Edit', edit_genre_category_item_path(@genre, @category, @item) %> |
<%= link_to 'Back to Items', genre_category_items_path(@genre, @category) %>
