<h1><%= @category.genre.name %> - <%= @category.name %></h1>

<h2>Items</h2>
<ul>
  <% @category.items.each do |item| %>
    <li>
      <%= link_to item.name, genre_category_item_path(@category.genre, @category, item) %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Item', new_genre_category_item_path(@genre, @category) %>
<%= link_to 'Edit Category', edit_genre_category_path(@genre, @category) %> |
<%= link_to 'Back to Genre', genre_path(@category.genre) %>